.container {
	background: #FF6F61;
	text-align: center;
	margin: 2%;
	padding: 2%;
}
.city {
	font-size: 26px;
	font-weight: bold;
}
.weather {
	font-size: 30px;
	font-weight: bolder;
	margin: 0;
}
.temp {
	font-size: 62px;
	margin: 0;
	font-weight: bold;
}
.sunrise {
	font-size: 30px;
	margin: 0;
	font-weight: bold;
}
