.container {
	background: #ccc;
	text-align: center;
	margin: 2%;
	padding: 2%;
}
.city {
	font-size: 24px;
	font-weight: bold;
}
.weather {
	font-size: 28px;
	font-weight: bolder;
	margin: 0;
}
.temp {
	font-size: 60px;
	margin: 0;
	font-weight: bold;
}
